<%- partial('_partial/head') %>
<body class="home">
    <!--[if lt IE 9]>
    <div class="browsehappy">
        当前网页 <strong>不支持</strong>
        你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/">升级你的浏览器</a>.
    </div>
    <![endif]-->

    <!-- 博客头部 -->
    <%- partial('_partial/header') %>

    <!-- 博客正文 -->
    <div class="container body clearfix">
        <section class="content">
            <div class="content-main widget">
                <%- body %>
            </div>

        </section>
        <%- partial('_partial/sidebar') %>
    </div>

    <!-- 博客底部 -->
    <%- partial('_partial/footer') %>
    <!--博客js脚本 -->
    <%- partial('_partial/after-footer') %>
</body>
</html>