<!-- 独立页面 -->
<article class="post article">
    <header class="text-center">
        <h4 class="post-title"><a href="javascript: void(0);"><%- page.title %></a></h4>
    </header>
    <div class="post-content">
        <% if (page.pageid && page.pageid == 'about') { %>
            <%- partial('_custom/about', { page: page, post: page }) %>
        <% } else if (page.pageid && page.pageid == 'lab') { %>
            <%- partial('_custom/lab', { page: page, post: page }) %>
        <% } else if (page.pageid && page.pageid == 'comment') { %>
            <%- partial('_custom/comment', { page: page, post: page }) %>
        <% } else { %>
            <%- page.content %>
        <% } %>
    </div>
</article>