<!-- 自定义实验室页 -->

<section>
    <img src="<%- url_for(theme.CDN + 'lab/banner.jpg') %>" alt="Lab Banner" style="max-width: 100%;" >
</section>
<%
    var projects = page.projects;
    for (var i in projects) {
%>
    <p style="font-weight: bold;">
        <!--
        <span class="icon-cogs"></span>
        -->
        <span class="icon-price-tags"></span>
        <%- date(projects[i].time, 'YYYY-MM-DD') %>  <%- projects[i].title %>
    </p>

    <ul style="list-style-type: none;">
        <% var content = projects[i].content; %>
        <% for (var j in content) { %>
        <li>
            <a href="<%- content[j].link %>" target="_blank" class="icon-lab fr" title="查看代码" style="color: #ff5e52; border-bottom: none; font-size: 16px; margin-top: 2.5px;"></a>
            <span><%- content[j].name %></span>
        </li>
        <% } %>
    </ul>
<% } %>
