<!-- 文章归档页 -->
<div class="post article">
  <header class="text-center">
    <h4 class="post-title"><a href="javascript: void(0);">归档</a></h4>
  </header>
</div>

<section>
  <img title="图片摄于2017年1月1日深圳梧桐山 By iPhone 7。" src="<%- url_for('/img/lab/banner.jpg?v=3') %>" alt="Lab Banner" style="width: 100%;" alt="Banner" >
</section>

<ul>
  <% var years = []; %>
  <%
    site.posts.sort('date','desc').each(function (post) {
  %>
    <%
      var year = post.date.year();
      var month = post.date.format('MM');
      var date = post.date.format('DD');
    %>
    <% if (!years.includes(year)) { %>
      <p style="color: #444;">
        <span class="iconfont icon-tags"></span>
        <a href="<%- url_for('/archives/' + year) %>"><%- year %>年 所有文章</a>
      </p>
      <% years.push(year); %>
    <% } %>

    <li style="margin-left: 2.75em;">
      <a href="<%- url_for(post.path) %>" target="_blank"><%- month %>月<%- date %>日 <%- post.title %></a>
    </li>
  <% }) %>
</ul>
